{% extends 'bk/base.html' %}

{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <h2>Добавить желание</h2>
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <!-- <div class="form-group">
                <label for="amount">Сумма</label>
                {{ form.amount }}
            </div>
            <div class="form-group">
                <label for="date">Дата</label>
                {{ form.date }}
            </div>
            <div class="form-group">
                <label for="description">Описание</label>
                {{ form.description }}
            </div>
            <div class="form-group">
                <label for="category">Категория</label>
                {{ form.category }}
            </div> -->
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
    </div>
</div>
<!-- <form method="POST">
    {% csrf_token %}
    Сумма: {{ form.amount }} <br>
    Дата: {{ form.date }} <br>
    Описание: {{ form.description }} <br>
    Категория: {{ form.category }} <br>
{{ form.as_p }} 
<button type="submit">Добавить</button> 
</form>-->

{% endblock %}