{% extends 'bk/base.html' %}

{% block content %}
<!-- 

<h1> Статистика </h1>

{{ data }} <br><hr><br> {{ labels }}
<br><hr><br>Wishes <br>{{ query_wishes }}<br>
{% for item in query_wishes %} '{{ item.amount }}' {% endfor %}
<br><hr><br>
{% for l in l_n %} '{{ l }}' {% endfor %}

<br><hr>query_all<br>
{% for key, value in data_all_income.items %} 
<li>{{key}} - {{value}}</li>
{% endfor %}
    <script>
        // {% for n in labels %}
        
        // {% endfor %}
    </script>

{{ data }}
{{ labels }}  -->
<h2>{{ error }}</h2>

<h2 class="text-center">Статистика расходов</h2>
<hr>
<div class="row">
    <div class="col-md-4">
        <div class="card text-white bg-success">
            <div class="card-header">Сегодня</div>
            <div class="card-body">
                <h4 class="card-title">{{ exptoday }} ₽</h4>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-primary">
            <div class="card-header">За неделю</div>
            <div class="card-body">
                <h4 class="card-title">{{ expweek }} ₽</h4>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-warning">
            <div class="card-header">За месяц</div>
            <div class="card-body">
                <h4 class="card-title">{{ exppermon }} ₽</h4>
            </div>
        </div>
    </div>
</div>
<br><hr><br>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
<div class="row">
    <div class="col-md-6">
        <p class="text-center text-muted"><small><b>Расходы за последний месяц</b></small></p>
        <canvas id="myChart2" width="200" height="200"></canvas>
    </div>
    <div class="col-md-6">
        <p class="text-center text-muted"><small><b>Расходы за последние 3 месяца</b></small></p>
        <canvas id="myChart1" width="200" height="200"></canvas>
    </div>
</div>
<br><hr><br>
<h2 class="text-center">Статистика доходов</h2>
<br><hr><br>
<div class="row">
    <div class="col-md-4">
        <div class="card text-white bg-primary">
            <div class="card-header">За неделю</div>
            <div class="card-body">
                <h4 class="card-title">{{ incweek }} ₽</h4>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-warning">
            <div class="card-header">За месяц</div>
            <div class="card-body">
                <h4 class="card-title">{{ incmon }} ₽</h4>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-info">
            <div class="card-header">За полгода</div>
            <div class="card-body">
                <h4 class="card-title">{{ incsixmon }} ₽</h4>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6">
        <p class="text-center text-muted"><small><b>Доходы за последнюю неделю</b></small></p>
        <canvas id="myChart3" width="200" height="200"></canvas>
    </div>
    <div class="col-md-6">
        <p class="text-center text-muted"><small><b>Доходы за последний месяц</b></small></p>
        <canvas id="myChart4" width="200" height="200"></canvas>
    </div>
</div>

<script>
const ctx1 = document.getElementById('myChart1').getContext('2d');
const myChart1 = new Chart(ctx1, {
    type: 'line',
    data: {
        labels: {{ labels_3|safe }},
        datasets: [{
            label: '# of Votes',
            data: {{ data_3|safe }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        plugins: {
            legend: {
                display: false,
                position: 'top',
            }
        }
    },
});
</script>

<script>
    const ctx2 = document.getElementById('myChart2').getContext('2d');
    const myChart2 = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: {{ labels|safe }},
            datasets: [{
                label: 'Траты за последний месяц',
                data: {{ data|safe }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(113, 185, 193, 1)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            responsive: true,
            plugins: {
                legend: {
                    display: false,
                    position: 'top',
                },
                title: {
                    display: false,
                    text: 'Доходы за последние полгода'
                }
            }
        }
    });

    </script>

<script>
    const ctx3 = document.getElementById('myChart3').getContext('2d');
    const myChart3 = new Chart(ctx3, {
        type: 'pie',
        data: {
            labels: {{ labels_week_income|safe }},
            datasets: [{
                label: '# of Votes',
                data: {{ data_week_income|safe }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(82, 34, 51, 0.2)',
                    'rgba(113, 185, 193, 1)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    display: true,
                    position: 'top',
                },
                title: {
                    display: false,
                }
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            },
        },
    });
    </script>
    
    <script>
        const ctx4 = document.getElementById('myChart4').getContext('2d');
        const myChart4 = new Chart(ctx4, {
            type: 'doughnut',
            data: {
                labels: {{ labels_month_income|safe }},
                datasets: [{
                    label: 'Траты за последний месяц',
                    data: {{ data_month_income|safe }},
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    
        </script>
<br><hr><br>
<h2 class="text-center">Список доступных желаний:</h2>
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Стоимость (руб)</th>
                    <th scope="col">Комментарий</th>
                </tr>
            </thead>
            <tbody>
            {% for wish in query_wishes %}
                <tr>
                    <td>{{ wish.amount }}</td>
                    
                    <td>{{ wish.description }}</td> 
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}